.band-bio-component {
  .band-photo {
    height: 640px;
    max-width: 881px;
    float: right;
    padding: 0 0 30px 40px;
  }

  .band-bio {
    margin: 30px 50px 0 50px;
  }

  .name {
    font-size: 30px;
  }

  .phish-history {
    text-align: left;
  }

  .band-members {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
  }

  .text-indent {
    text-indent: 10px;
    line-height: 1.5rem;
  }
}
