.shows-component {
  height: 215px;

  .venue-name {
    color: #eee;
    padding-top: 25px;
    cursor: pointer;
    margin-left: 10px;
  
    &:hover {
      color: #e36740;
    }
  }

  .show-top {
    height: 80px;
    background-color: #772953;
    border-radius: 14px 14px 0 0;
  }

  .addToList {
    background-image: url('../../Assets/add.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px;
    width: 30px;
    float: right;
    margin: 5px 5px 0 0;
  }

  .removeFromList {
    background-image: url('../../Assets/checked.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px;
    width: 30px;
    float: right;
    margin: 5px 5px 0 0;
  }

  .show-bottom {
    position: static;
    text-align: left;
    height: 115px;
    background-image: url('https://i.imgur.com/9GB0xeq.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 14px 14px;
  }

  .show-info {
    position: relative;
    top: 20px;
    background-color: rgba(0, 0, 0, 0.706);
    border-radius: 12px;
    color: #fff;
    height: 75px;
    margin: auto;
    padding: 10px;
    width: 90%;
    display: flex;
    justify-content: space-around;
  }

  h4 {
    color: #C7142D;
    -webkit-text-stroke-width: .2px;
    -webkit-text-stroke-color: #004D95;
  }
}